/* Start navBar */

body{
    box-sizing: border-box;
}



 


  .nav-link:hover {
    color: #0dcaf0 !important; 
  }
  

  /* :root {
    --glass-bg: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(255, 255, 255, 0.2);
  }
  
  .glass-nav {
    background: var(--glass-bg);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--glass-border);
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: rgb(8, 8, 8) !important;
    transition: color 0.2s;
    font-size: 19px;
    font-weight: 800;
  }
  
  .navbar .nav-link:hover {
    color: #0dcaf0 !important;
  }
  
.carto{
  padding:6rem 0 ;
} */


  /* End navBar */




  /* LandingPage */

  .landingbg{

    background-color: black;
    /* padding: 5rem 0; */
  }

 .ourproduct{
  background-color: rgb(218, 221, 223);
 }

.shad{
  background-color: rgba(0, 0,0,.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(350px);
  transition: .5s all linear ;
}

.layerwrapper{
  cursor: pointer;

}
.layericons{
  background-color: rgb(12, 23, 25 ,.7);
  /* height: 100px; */
}
.layerwrapper:hover .shad{
  transform: translateY(0);
}

.social{
  transform: scale(1);
}
.social:hover{
  color: #b81f33;
  cursor: pointer;
  transform: scale(1.2);

}

.member p ,  .member ul li
 {
  transition: .3s all linear;
}



.member p:hover , .member ul li:hover {
color: #b81f33;
cursor: pointer;
}

.brandss{
  background-image: url(../public/brands/page-title-GM86wdmx.jpg);
  padding: 6rem;
}

.brandscal{
  background-image: url(/public/brands/page-title-GM86wdmx.jpg);
  background-size: cover;
  transform: scale(1);
  transition: .4s all linear;
}

.brandscal:hover  {
  cursor: pointer;
  transform: scale(1.05);
  
}

.layericons div:hover {
  cursor: pointer;
  color: #b81f33;
  
}

.layericons div:not(:last-child){
  border-bottom: 2px solid black;
}


.bott{
  padding: .5rem 7rem;
  margin-top: 2rem;
}

.mySwiper {
  width: 100%;
  height: auto;
}

.title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* or use 2 for two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.brandname  {
  color: #b81f33 !important
}


.bandon{
  height: 60vh;
}

/* .pranon{
  height: 100vh;

} */

.navbar-toggler-icon {
  background-color: #b81f33;
}